@font-face {
    font-family: bitteritalics;
    src: url(./assets/Bitter-Italic-VariableFont_wght.ttf) format(truetype);
    font-family: bitter;
    src: url(./assets/Bitter-VariableFont_wght.ttf) format(truetype)
}



h1{
    color:black;
    text-align:center;
    font-family: bitter;
    box-sizing:border-box;
    font-size: 4rem;
    margin: auto;
    padding: 0;
    position:sticky
}

.myName {
    font-family: bitteritalics;
    color: inherit;
    font-size: 6rem;
}

.intro-para {
    font-family: bitter;
    box-sizing: border-box;
    text-align:center;
    font-size: 3rem;
}

html{
    background-color: blue;
}