@font-face {
    font-family: bitteritalics;
    src: url(./assets/Bitter-Italic-VariableFont_wght.ttf) format(truetype);
    font-family: bitter;
    src: url(./assets/Bitter-VariableFont_wght.ttf) format(truetype)
}



h1{
    color:black;
    text-align:center;
    background-size: auto;
    font-family: bitter;
    box-sizing: content-box;
    max-width: 100% ;
    max-height: 100% ;
    margin:auto

}

.intro-para{
    font-family: bitter;
    text-align:center;
    font-size: 50px;
}

.myName {
    font-family: bitteritalics;
    text-align:center;
    font-size: inherit;
}

*{
    background-color:#2a7dd5;
}